/* Material theme style */


.md-typeset {
    font-size: 1.8rem;
}

.md-main {
    background-color: #F6FFFE;
}

.md-nav {
    font-size: 1.6rem;
    background-color: #F6FFFE;
    border: #F6FFFE;
    color: black;
    border-radius: 5px;
}

.md-nav__link[data-md-state="blur"],
.md-nav__link:visited,
.md-nav--primary,
.md-nav--secondary {
    color: black;    
}

.md-nav__list,
.md-nav__title {
    padding: 2px;
}

.md-footer-nav {
    background-color: #0098DB;
}

.md-footer-meta {
    background-color: #2E3C87;
}